---
import Layout from "../layouts/Layout.astro";
import { AppLogos, SocialLinks } from "../components/Data.js";
import LinkedIn from "../components/LinkedIn.astro";
import Github from "../components/Github.astro";
import TwitterX from "../components/TwitterX.astro";
---

<Layout title="Welcome to Ehtisham's Porfolio.">
  <main class="w-full px-4 mt-28">
    <div class="w-full gap-5 flex">
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/f9e95ed9-1699-42bb-a0eb-0746317ece18?apiKey=431852d9de2e43e2827041a652845494&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/f9e95ed9-1699-42bb-a0eb-0746317ece18?apiKey=431852d9de2e43e2827041a652845494&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/f9e95ed9-1699-42bb-a0eb-0746317ece18?apiKey=431852d9de2e43e2827041a652845494&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/f9e95ed9-1699-42bb-a0eb-0746317ece18?apiKey=431852d9de2e43e2827041a652845494&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/f9e95ed9-1699-42bb-a0eb-0746317ece18?apiKey=431852d9de2e43e2827041a652845494&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/f9e95ed9-1699-42bb-a0eb-0746317ece18?apiKey=431852d9de2e43e2827041a652845494&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/f9e95ed9-1699-42bb-a0eb-0746317ece18?apiKey=431852d9de2e43e2827041a652845494&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/f9e95ed9-1699-42bb-a0eb-0746317ece18?apiKey=431852d9de2e43e2827041a652845494&"
        class="w-20 h-20 object-contain object-center border-2 p-0.5 rounded-full"
      />
      <div class="w-full grid grid-flow-row grid-rows-2 my-auto">
        <h1 class="text-3xl font-bold leading-9 tracking-wide">
          Ehtisham Afzal.
        </h1>
        <h2
          class="justify-center text-neutral-500 text-xl font-semibold leading-7 mt-1.5"
        >
          Web Developer
        </h2>
      </div>
    </div>
    <p
      class="justify-center text-lg font-medium leading-7 self-stretch mt-6 max-md:max-w-full"
    >
      I'm a creative front‑end developer with 2+ years of professional
      experience, based in Pakistan. In my spare time I make illustrations on
      Codepen.
    </p>
    <!-- nav -->
    <div
      class="flex w-full h-10 p-1 overflow-hidden items-center justify-between gap-5 mt-8"
    >
      <div class="w-[80%] h-0.5 border border-white/50 bg-black mt-4"></div>
      <a
        target="_blank"
        href="https://www.linkedin.com/in/ehtisham-afzal-819593195/"
        ><LinkedIn /><p class="sr-only">LinkedIn</p></a
      >
      <a target="_blank" href="https://github.com/EHTISHAM-Afzal"
        ><Github /><p class="sr-only">Github</p></a
      >
      <a target="_blank" href="https://twitter.com/EHTISHAMoo7"
        ><TwitterX /><p class="sr-only">TwitterX</p></a
      >
    </div>

    <h1 class="text-3xl font-semibold leading-9 my-10">Projects</h1>
    <div
      class="self-stretch grid grid-flow-col grid-cols-2 gap-2 mt-10 max-md:max-w-full h-36"
    >
      <div>
        <div class="w-full h-[90%] border rounded-lg"></div>
        <h2 class="text-base leading-7">LittleLemon</h2>
      </div>
      <div>
        <div class="w-full h-[90%] border rounded-lg"></div>
        <h2 class="text-base leading-7">Project 2</h2>
      </div>
    </div>

    <h2 class="my-12 text-3xl font-semibold leading-9 tracking-tight">
      TechStack
    </h2>
    <div
      class="self-center flex w-full flex-wrap gap-2 px-1 justify-center items-center"
    >
      {
        AppLogos.map((logo) => (
          <img
            alt={logo.Name}
            class="border w-20 h-20 p-4 object-cover rounded-lg bg-white/80 hover:bg-white/50 "
            src={logo.Logo}
          />
        ))
      }
    </div>
  </main>
</Layout>
