---
import Layout from "../layouts/Layout.astro";
import { AppLogos } from "../components/Data.js";
import LinkedIn from "../components/Icons/LinkedIn.astro";
import Github from "../components/Icons/Github.astro";
import TwitterX from "../components/Icons/TwitterX.astro";
import { Image } from "astro:assets";
import Tooltip from "../components/Tooltip.astro";
---

<Layout title="Ehtisham's Portfolio.">
  <main class="w-full px-4 mt-28 min-w-[361px]">
    <div class="w-full gap-5 flex">
      <Image
        width={80}
        height={80}
        alt="Ehtisham Afzal"
        src="/sham2.png"
        class="object-contain object-center border-2 p-0.5 rounded-full maxw"
      />
      <div class="w-fit grid grid-flow-row grid-rows-2">
        <h1
          class="text-3xl md:text-4xl  leading-9 tracking-wide text-lime-500 font-bold"
        >
          Ehtisham Afzal.
        </h1>
        <h2 class="text-neutral-500 text-xl font-semibold leading-7">
          Web Developer
        </h2>
      </div>
    </div>
    <p class="text-lg font-medium mt-6">
      I'm a front-end developer, based in Pakistan. specializing in full-stack
      web applications using JavaScript, TypeScript, React, Next.js, and
      Node.js. I love building tools that are user-friendly, simple and
      delightful. ✨
    </p>
    <!-- nav -->
    <div class="flex w-full h-10 p-1 items-center justify-between gap-5 mt-8">
      <div class="w-full h-0.5 border border-white/50 bg-black mt-4"></div>
      <a
        class="w-10 h-full flex items-center"
        target="_blank"
        href="https://www.linkedin.com/in/ehtisham-afzal"
        ><LinkedIn /><p class="sr-only">LinkedIn</p></a
      >
      <a
        class="w-10 h-full flex items-center"
        target="_blank"
        href="https://github.com/EHTISHAM-Afzal"
        ><Github /><p class="sr-only">Github</p></a
      >
      <a
        class="w-10 h-full flex items-center"
        target="_blank"
        href="https://twitter.com/EHTISHAMoo7"
        ><TwitterX /><p class="sr-only">TwitterX</p></a
      >
    </div>

    <h2 class="text-3xl font-semibold leading-9 my-10">Projects</h2>
    <div class="grid sm:grid-flow-col sm:grid-cols-2 gap-2 w-full sm:h-45">
      <a class="w-full h-60 sm:h-44" href="/projects/LittleLemon">
        <Image
          width={1}
          height={1}
          alt="Little-Lemon-ScreenShot"
          class="w-full h-52 sm:h-40 border rounded-lg object-cover object-top"
          src="/LettleLemonHero700px.jpg"
        />
        <h2 class="text-lg mt-1">LittleLemon</h2>
      </a>
      <a class="w-full h-60 sm:h-44" href="#/">
        <Image
          width={1}
          height={1}
          alt="Under construction"
          class="w-full h-52 sm:h-40 border rounded-lg object-cover object-top"
          src="/page-under-construction.png"
        />
        <h2 class="text-lg mt-1">Under-construction</h2>
      </a>
    </div>

    <h2 class="my-12 text-3xl font-semibold leading-9 tracking-tight">
      TechStack
    </h2>
    <div
      class="self-center flex w-full flex-wrap gap-2 px-1 justify-center items-center h-fit"
    >
      {
        AppLogos.map((logo) => (
          <Tooltip text={logo.Name}>
            <Image
              width={1}
              height={1}
              alt={`${logo.Name} Logo`}
              class="border w-20 h-20 sm:w-24 sm:h-24 p-4 object-cover rounded-lg bg-white/80 hover:bg-white/50 "
              src={logo.Logo}
            />
          </Tooltip>
        ))
      }
    </div>
  </main>
</Layout>
