---
const { text } = Astro.props;
---

<div class="group relative">
  <!-- tooltip -->
  <div
    class={`absolute flex flex-col items-center -top-9 transform w-full opacity-0 group-hover:opacity-100 transition duration-200`}
  >
    <p
      class="border w-full rounded-md px-1 text-center  text-white whitespace-nowrap overflow-hidden"
    >
      {text}
    </p>
    <span
      class="absolute top-[18px]"
    >▼</span>
  </div>
  <slot />
</div>
