---
import { Image } from "astro:assets";
---

<main class="w-screen min-h-screen bg-slate-200 flex items-center justify-center">
<Image class={`w-96  object-cover`} alt={'anything'} width={1} height={1} src='/image.png' />
</main>