---
import Layout from "../../layouts/Layout.astro";
import Markdown from "./lemon.md";
---

<Layout title="markdown">
  <div class="prose w-full prose-stone px-1">
    <h1>this is prose html</h1>
    <Markdown />
  </div>
</Layout>
