---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="LittleLemon Project">
  <a class="text-lg" href="/">{`<--`}</a>
  <main
    class="justify-between flex flex-col py-12 text-start px-2 tracking-wide prose text-white"
  >
    <section>
      <h1 class="py-2 text-lime-500 tracking-wider">LittleLemon</h1>
      <p class="flex w-full flex-wrap overflow-hidden">
        LittleLemon is <b>' MERN stack '</b> mobile first full <b
          >' Responsive '</b
        > Application . i built this Application from scractch while learning
        Front-End from meta engneers on coursera in
        <b>Meta Front-End Developer Professional Certificate</b> course This
        E-commerce Application required alot of heavy lifting to create
        universal cart and overall shopping experience as well as introduce the
        product and include support pages
      </p>
    </section>
    <section class="w-full my-2">
      <table class="text-left my-4 w-full">
        <thead>
          <tr>
            <th class="text-lime-500">Type</th>
            <th class="text-lime-500">Stack</th>
            <th class="text-lime-500">Links</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>E Commerce</td>
            <td>
              <menu class="">
                <li>JavaScript</li>
                <li>React</li>
                <li>TailwindCSS</li>
                <li>Express</li>
                <li>React-router-dom</li>
                <li>Redux ReduxToolkit ReduxQuerry</li>
                <li>Vite</li>
                <li>Auth0</li>
                <li>Cloudinary</li>
                <li>ShadCn "Radix ui"</li>
                <li>React-hook-form</li>
                <li>And more</li>
              </menu>
            </td>
            <td>
              <menu>
                <li>
                  <a
                    class="text-white"
                    target="_blank"
                    href="https://littlelemon-sham.vercel.app">Live Demo</a
                  >
                </li>
                <li>
                  <a
                    class="text-white"
                    target="_blank"
                    href="https://littlelemon-sham.vercel.app">Github Repo</a>
                </li>
              </menu>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <h2 class="text-lime-500">Project Purpose And Goal</h2>
    <p>
      juguigiugl iuh oihoiardhroi ahnxakzhd uiahiu x ha hfuiahiufham vuifh oifaj
      afoihiuh hfoi rhrfheihaoj oiah oia h oihjoie rheoifha;lj aoioheroaf
      ihfoioiroiarfdhjkhdcoihiofd oiahfeoief; ;faj a ‘ aifhebfeab
    </p>
    <h2 class="text-lime-500">Web Stack And Explaination</h2>
    <p>
      juguigiugl iuh oihoiardh roiahnxakzhd uiahiu x ha hfuiahiufham vuifh oifaj
      afoihiuh hfoi rhrfhei haoj oiah oia h oihjoier heoifha;ljaoio heroafihfoio
      iroiarfdhjkhdco ihiofd oiahfeoief; ;faj a ‘ aifhebfeab
    </p>
    <div
      class="border bg-slate-500 flex w-full shrink-0 h-[326px] flex-col mt-7 border-solid border-black"
    >
    </div>
    <div class="bg-slate-500 flex w-full shrink-0 h-[316px] flex-col mt-7">
    </div>
    <h2 class="text-lime-500">Problems And Thought Process</h2>
    <p class="text-base leading-7 mt-7">
      juguigiugl iuh oihoiardhr oiahnxakzhd uiahiu x ha hfuiahiufham vuifh oifaj
      afoihiuh hfoi rhrfheihaoj oiah oia h oihjoierheoif ha;ljao ioheroafihf
      oioiroiarfdhjkhdcoi hiofd oiahfeoief; ;faj a ‘ aifhebfeab
    </p>
    <div class="bg-slate-500 flex w-full shrink-0 h-[316px] flex-col mt-7">
    </div>
    <h2 class="text-lime-500">Lesson Learned</h2>
    <p>
      juguigiugl iuh oihoiardh roiahnxakzhd uiahiu x ha hfuiahiufham vuifh oifaj
      afoihiuh hfoi rhrfheihaoj oiah oia h oihjoierhe oifha;ljaoioh
      eroafihfoioiroi arfdhjkhdcoih iofd oiahfeoief; ;faj a ‘ aifhebfeab
    </p>
    <h2 class="text-lime-500">Other Projects</h2>
    <div class="bg-slate-500 flex w-full shrink-0 h-[316px] flex-col mt-7">
    </div>
    <Image
      width={1}
      height={1}
      alt="image"
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/41153167-d7eb-4a66-a477-b1f6ac5f614d?apiKey=431852d9de2e43e2827041a652845494&"
      class="aspect-[2.22] object-contain object-center w-full fill-indigo-500 overflow-hidden mt-7"
    />
    <h2 class="text-lime-500">Lets Build Togather</h2>
    <p>
      juguigiugl iuh oihoiardhr oiahnxakzhd uiahiu x ha hfuiahiufham vuifh oifaj
      afoih iuh hfoi rhrfheihaoj oiah oia h oihjoie rheoifha;lja
      oioheroafihfoioiroia rfdhjk hdcoihiofd oiahfeoief; ;faj a ‘ aifhebfeab
    </p>
  </main>
</Layout>
