---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import { LittleLemonStack } from "../../components/Data";
---

<Layout title="LittleLemon Project">
  <!-- back button -->
  <a class="text-lg" href="/">
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M20.3284 11.0001V13.0001L7.50011 13.0001L10.7426 16.2426L9.32842 17.6568L3.67157 12L9.32842 6.34314L10.7426 7.75735L7.49988 11.0001L20.3284 11.0001Z"
        fill="currentColor"></path>
    </svg>
  </a>
  <main
    class="justify-between flex flex-col py-12 text-start px-2 tracking-wide prose text-white/90 backdrop:blur-lg"
  >
    <section>
      <h1 class="py-2 text-lime-500 tracking-wider">LittleLemon</h1>
      <p class="flex w-full flex-wrap overflow-hidden">
        LittleLemon is a mobile-first full-stack web application that I
        developed using the MERN stack (MongoDB, Express, React, and Node.js). I
        learned how to build the front-end of this application from the
        <b> Meta Front-End Developer Professional Certificate</b> course on
        Coursera, taught by meta engineers. This e-commerce application has many
        features, such as a universal cart, a smooth shopping experience, a
        product showcase, and support pages. I created this application from
        scratch to demonstrate my skills and knowledge in front-end development.
      </p>
    </section>
    <section class="w-full my-2">
      <table class="text-left my-4 w-full">
        <thead>
          <tr>
            <th class="text-lime-500">Type</th>
            <th class="text-lime-500">Stack</th>
            <th class="text-lime-500">Links</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>E Commerce</td>
            <td>
              <menu class="">
                <li>JavaScript</li>
                <li>React</li>
                <li>TailwindCSS</li>
                <li>Express</li>
                <li>React-router-dom</li>
                <li>Redux ReduxToolkit ReduxQuerry</li>
                <li>Vite</li>
                <li>Auth0</li>
                <li>Cloudinary</li>
                <li>ShadCn "Radix ui"</li>
                <li>React-hook-form</li>
                <li>And more</li>
              </menu>
            </td>
            <td>
              <menu>
                <li>
                  <a
                    class="text-white"
                    target="_blank"
                    href="https://littlelemon-sham.vercel.app">Live Demo</a
                  >
                </li>
                <li>
                  <a
                    class="text-white"
                    target="_blank"
                    href="https://littlelemon-sham.vercel.app">Github Repo</a
                  >
                </li>
              </menu>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <section class="w-full">
      <Image
        width={1}
        height={1}
        alt="LilleLemon Hero section"
        class="w-full h-fit"
        src="/LettleLemonHero.jpeg"
      />
    </section>
    <h2 class="text-lime-500">Project Purpose And Goal</h2>
    <p>
      The main purpose of this project is to apply the skill I just learned. The
      project has three phases. The first phase is to build the user interface,
      which allows the user to see the design and layout of the application. The
      second phase is to make the application functional, which enables the user
      to reserve a table online. The third phase is the most extensive and
      complex, as it involves refactoring the entire application as a full-stack
      e-commerce application with all the features that such an application
      requires.
    </p>
    <h2 class="text-lime-500">Web Stack And Explaination</h2>
    <div
      class="w-full h-fit space-y-0 flex justify-center items-center space-x-2 flex-wrap"
    >
      {
        LittleLemonStack.map((logo) => (
          <Image
            class="p-1 m-2 rounded-lg bg-white sm:w-24 sm:h-24"
            width={70}
            height={70}
            alt={logo.Name}
            src={logo.Logo}
          />
        ))
      }
    </div>
    <p>
      <b> React</b> is a popular and fast front-end library that helps me create
      dynamic and interactive user interfaces with ease. I use choose them write
      JSX syntax to write HTML-like code in JavaScript and leverage the power of
      hooks, components, props and state management. <br />
      <b> Express</b>is a minimalist and flexible back-end framework that runs
      on Node.js. I used it to build RESTful APIs, handle routing, middleware,
      error handling. <br />
      <b> MongoDB</b> is a scalable and flexible NoSQL database that stores data
      in JSON-like documents. I choose it to store querries and data efficiently
      and reliably. MongoDB also supports various features such as indexing,
      aggregation, transactions, sharding and replication. <br />
      <b> Redux</b> is a state management library that works well with React. I
      choose it to manage the global state of your application in a single
      source of truth. Redux helps me avoid prop drilling, maintain consistency,
      debug easily and implement complex logic with reducers, actions and
      middleware with using <i> ReduxToolkit and ReduxQuerry</i> I leverage the
      super powers of Redux. <br />
      <b> ShadCN-UI</b> is a sleek and modern UI library that provides
      ready-made components for React projects. I choose it to create beautiful
      and responsive web pages with minimal code. ShadCN-UI also supports
      theming, customization, accessibility and animations.
    </p>
    <div class="w-full flex flex-wrap">
      <Image
        class="w-full h-fit"
        width={1}
        height={1}
        alt="LittleLemon mockup"
        src="/Brown Modern Visit Our Website Video Instagram Post.png"
      />
      <Image
        class="w-full h-fit"
        width={1}
        height={1}
        alt="LittleLemon mockup"
        src="/Brown Modern Visit Our Website Video Instagram Post (2).png"
      />
    </div>

    <h2 class="text-lime-500">Problems And Thought Process</h2>
    <p>
      I faced some challenges while working on this project, especially in terms
      of code organization and structure. One of the most difficult tasks was to
      create a booking form that could store the booking data in a MongoDB
      database and use it to avoid table overbooking. Another challenge was to
      implement a cart system that was managed with Redux. <br />
       I tried to make the components as reusable as possible and use props for
      minor variations.
    </p>
    <div class="w-full flex flex-wrap h-fit">
      <Image
        width={1}
        height={1}
        alt="cart image"
        class="w-full h-fit"
        src="/Web capture_3-12-2023_182245_littlelemon-sham.vercel.app.jpeg"
      />
      <Image
        width={1}
        height={1}
        alt="cart image"
        class="w-full h-fit"
        src="/Web capture_3-12-2023_181458_littlelemon-sham.vercel.app.jpeg"
      />
    </div>
    <h2 class="text-lime-500">Lesson Learned</h2>
    <p>
      I have successfully built an E Commerce web app using the skill that I
      recently acquired through online courses and tutorials. This project was
      not only a way to showcase my abilities, but also a valuable opportunity
      to deepen my understanding of the skill and practice it in a real-world
      scenario. I faced some challenges and difficulties along the way, but I
      was able to overcome them with perseverance and creativity. I am proud of
      what I have accomplished and I look forward to applying my skill to more
      projects in the future.
    </p>
    <h2 class="text-lime-500">Other Projects</h2>
    <p>Coming Soon</p>
    <h2 class="text-lime-500">Lets Build Togather</h2>
    <p>
      Feel free to reach out if you'r looking for Developer, have a question, or just want to connect
      <br/><br/>
      <a class="text-lime-500" href="mailto:shaminterprise@gmail.com">Ehtisham's G mail</a> 
    </p>
  </main>
</Layout>
