---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="LittleLemon Prject">
  <a class="text-lg" href="/">Go Home</a>
  <main
    class="justify-between flex flex-col py-12 text-start px-2 tracking-wide"
  >
    <section>
      <h1 class="font-bold mt-8 text-4xl text-yellow-500 py-2 tracking-wider">LittleLemon</h1>
      <p class="flex w-full flex-wrap overflow-hidden">
        lorem ioreskjbcjkbjvdbkjabvlkjbavbhvhjbkhvabv
        bhadhbhvbhabhjbacbkjcbaskjcbdcjkbajlckbhchjbahcb
        hbcaahcbchbkjjioauehoiefhouiqhwfohaufhouihfoeqhofuoierhf
        iufiuschieufhiuhfiuhuihiuehiufhiufehiuhefiuhefiuhfhiuhfewiuhfeiuefiu
      </p>
    </section>
    <section class="w-full my-2">
      <table class="text-left my-4 w-full">
        <thead>
          <tr class="text-yellow-500">
            <th>Type</th>
            <th>Stack</th>
            <th>Links</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>E Commerce</td>
            <td>JavaScript</td>
            <td>
              <a
                class="hover:underline underline-offset-1"
                href="https://littlelemon-sham.vercel.app">Live Demo</a
              >
            </td>
          </tr>
          <tr>
            <td></td><td>React</td>
        </tr>
          <tr>
            <td></td><td>Redux</td>
        </tr>
        </tbody>
      </table>
    </section>
    <div class="text-3xl font-semibold leading-9 tracking-tight mt-7">
      Project Purpose And Goal
    </div>
    <div class="text-base leading-7 mt-7">
      juguigiugl iuh oihoiardhroiahnxakzhd uiahiu x ha hfuiahiufham vuifh oifaj
      afoihiuh hfoi rhrfheihaoj oiah oia h
      oihjoierheoifha;ljaoioheroafihfoioiroiarfdhjkhdcoihiofd oiahfeoief; ;faj a
      ‘ aifhebfeab
    </div>
    <div class="text-3xl font-semibold leading-9 tracking-tight mt-7">
      Web Stack And Explaination
    </div>
    <div class="text-base leading-7 mt-7">
      juguigiugl iuh oihoiardhroiahnxakzhd uiahiu x ha hfuiahiufham vuifh oifaj
      afoihiuh hfoi rhrfheihaoj oiah oia h
      oihjoierheoifha;ljaoioheroafihfoioiroiarfdhjkhdcoihiofd oiahfeoief; ;faj a
      ‘ aifhebfeab
    </div>
    <div
      class="border bg-slate-500 flex w-full shrink-0 h-[326px] flex-col mt-7 border-solid border-black"
    >
    </div>
    <div class="bg-slate-500 flex w-full shrink-0 h-[316px] flex-col mt-7">
    </div>
    <div class="text-3xl font-semibold leading-9 tracking-tight mt-7">
      Problems And Thought Process
    </div>
    <div class="text-base leading-7 mt-7">
      juguigiugl iuh oihoiardhroiahnxakzhd uiahiu x ha hfuiahiufham vuifh oifaj
      afoihiuh hfoi rhrfheihaoj oiah oia h
      oihjoierheoifha;ljaoioheroafihfoioiroiarfdhjkhdcoihiofd oiahfeoief; ;faj a
      ‘ aifhebfeab
    </div>
    <div class="bg-slate-500 flex w-full shrink-0 h-[316px] flex-col mt-7">
    </div>
    <div class="text-3xl font-semibold leading-9 tracking-tight mt-7">
      Lesson Learned
    </div>
    <div class="text-base leading-7 mt-7">
      juguigiugl iuh oihoiardhroiahnxakzhd uiahiu x ha hfuiahiufham vuifh oifaj
      afoihiuh hfoi rhrfheihaoj oiah oia h
      oihjoierheoifha;ljaoioheroafihfoioiroiarfdhjkhdcoihiofd oiahfeoief; ;faj a
      ‘ aifhebfeab
    </div>
    <div class="text-3xl font-semibold leading-9 tracking-tight mt-7">
      Other Projects
    </div>
    <div class="bg-slate-500 flex w-full shrink-0 h-[316px] flex-col mt-7">
    </div>
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/41153167-d7eb-4a66-a477-b1f6ac5f614d?apiKey=431852d9de2e43e2827041a652845494&"
      class="aspect-[2.22] object-contain object-center w-full fill-slate-500 overflow-hidden mt-7"
    />
    <div class="text-3xl font-semibold leading-9 tracking-tight mt-7">
      Lets Build Togather
    </div>
    <div class="text-base leading-7 mt-7 mb-6">
      juguigiugl iuh oihoiardhroiahnxakzhd uiahiu x ha hfuiahiufham vuifh oifaj
      afoihiuh hfoi rhrfheihaoj oiah oia h
      oihjoierheoifha;ljaoioheroafihfoioiroiarfdhjkhdcoihiofd oiahfeoief; ;faj a
      ‘ aifhebfeab
    </div>
  </main>
</Layout>
